/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Audi Type Normal";
    src: url("/assets/fonts/AudiType-Normal_4.03.ttf") format("truetype");
}

@font-face {
    font-family: "Audi Type Bold";
    src: url("/assets/fonts/AudiType-Bold_4.03.ttf") format("truetype");
}

body {
    font-family: 'Audi Type Bold';
    background-color: #5A5766;
}

h2, h3, label, h1 {
    color: #F2F5EF !important;
}

