<div id="login-body" class="container-fluid d-flex justify-content-center align-items-center" > 
    <form id="login-form" class="col-5 row justify-content-center" (ngSubmit)="onSubmit()">
        <h2>Login</h2>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="login.username">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="login.password">
        </div>
        <button style="width: 200px;" type="submit"  class="submit-button btn btn-primary">Submit</button>
    </form>
</div>
