<div id="home-body" class="container-fluid justify-content-center align-items-start d-flex">
    <div class="row mt-5 justify-content-center align-items-center">
        <h1 class="d-flex justify-content-center">Welcome to CarService Management Tool</h1>
        <h1 class="d-flex justify-content-center mt-3">{{date | date: 'dd.MM.yyyy HH:mm:ss'}}</h1>
    </div>
</div>