#home-body {
    height: 860px;
    width: 100%;
    
    background-image: url('https://www.audi-mediacenter.com/system/production/media/57867/images/b522c5e4a1084c968b81195ce6c15c41f911f786/A181379_web_2880.jpg?1698301757');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

img {
    width: 1920px;
    height: 1080px;
}