<div class="container-fluid align-items-start mt-4 d-flex row justify-content-center">
    
    <div class="table-container d-flex col-7 row">
        <h2 class="mb-3">Cars Table</h2>
        <table class="table table-bordered" style="border-collapse: collapse; border-spacing: 0;">
            <thead>
                <tr>
                    <th>Vin Code</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Volume</th>
                    <th>Fuel Type</th>
                    <th>Aspiration</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let car of cars" class="justify-content-center ">
                  
                    <td>{{car.vin_code}}</td>
                    <td><input  class="form-control" *ngIf="car.editMode; else nameView" [(ngModel)]="car.brand_name" name="brand_name"></td>
                    <ng-template #nameView><td>{{ car.brand_name }}</td></ng-template>

                    <td><input  class="form-control" *ngIf="car.editMode; else surnameView" [(ngModel)]="car.model_name" name="model_name"></td>
                    <ng-template #surnameView><td>{{ car.model_name }}</td></ng-template>

                    <td><input  class="form-control" *ngIf="car.editMode; else genderMode" [(ngModel)]="car.engine_volume" name="engine_volume"></td>
                    <ng-template #genderMode><td>{{ car.engine_volume | volumeFormat }}</td></ng-template>

                    <td><input  class="form-control" *ngIf="car.editMode; else birth_dateMode" [(ngModel)]="car.fuel_type" name="fuel_type"></td>
                    <ng-template #birth_dateMode><td>{{ car.fuel_type }}</td></ng-template>

                    <td><input  class="form-control" *ngIf="car.editMode; else phone_numberMode" [(ngModel)]="car.aspiration" name="aspiration"></td>
                    <ng-template #phone_numberMode><td>{{ car.aspiration | aspirationformat }}</td></ng-template>

                    <!-- <td>{{carsOutput(customer.cars)}}</td>
                    <td style="height: 100%">
                      <div class="d-flex align-items-center">
                        <button class="table-button btn me-2" (click)="onDelete(customer.id)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                          <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                          </svg>
                         </button>
                         <button *ngIf="!customer.editMode" class="table-button btn" (click)="onEdit(customer)">
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                             <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                             <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                           </svg>
                         </button>
                         <button *ngIf="customer.editMode" class="table-button btn" (click)="onSave(customer)">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
                            <path d="M11 2H9v3h2z"/>
                            <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
                          </svg>
                        </button>
                      </div>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>
