<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow">
    <div class="container-fluid d-flex">
        <img src="assets/icons/diagnostic.svg"/>
        <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page" class="navbar-brand me-md-auto text-logo" >CarService</a>

        <div class="navbar-collapse d-flex justify-content-end">
            <ul class="navbar-nav flex-row">
                <li class="nav-item header-nav">
                    <a class="nav-link" routerLink="/customers" routerLinkActive="active" ariaCurrentWhenActive="page">Customers</a>
                </li>
                <li class="nav-item header-nav">
                    <a class="nav-link" routerLink="/cars" routerLinkActive="active" ariaCurrentWhenActive="page">Cars</a>
                </li>
                <li class="nav-item header-nav">
                    <a class="nav-link" (click)="onLogout()" style="cursor: pointer;">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
