<div class="container-fluid align-items-start mt-4 d-flex row justify-content-center">
    
    <div class="table-container d-flex col-7 row">
        <h2 class="mb-3">Customers Table</h2>
        <table class="table table-bordered" style="border-collapse: collapse; border-spacing: 0;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Gender</th>
                    <th>Birth Date</th>
                    <th>Phone Number</th>
                    <th>Car</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers" class="justify-content-center ">
                  
                    <td>{{customer.id}}</td>
                    <td><input  class="form-control" *ngIf="customer.editMode; else nameView" [(ngModel)]="customer.name" name="name"></td>
                    <ng-template #nameView><td>{{ customer.name }}</td></ng-template>

                    <td><input  class="form-control" *ngIf="customer.editMode; else surnameView" [(ngModel)]="customer.surname" name="surname"></td>
                    <ng-template #surnameView><td>{{ customer.surname }}</td></ng-template>

                    <td><input  class="form-control" *ngIf="customer.editMode; else genderMode" [(ngModel)]="customer.gender" name="gender"></td>
                    <ng-template #genderMode><td>{{ customer.gender }}</td></ng-template>

                    <td><input  class="form-control" *ngIf="customer.editMode; else birth_dateMode" [(ngModel)]="customer.birth_date" name="birth_date"></td>
                    <ng-template #birth_dateMode><td>{{ (customer.birth_date ?? '') | customdateformat }}</td></ng-template>

                    <td><input  class="form-control" *ngIf="customer.editMode; else phone_numberMode" [(ngModel)]="customer.phone_number" name="phone_number"></td>
                    <ng-template #phone_numberMode><td>{{ (customer.phone_number ?? '') | customPhoneNumber}}</td></ng-template>

                    <td>{{carsOutput(customer.cars)}}</td>
                    <td style="height: 100%">
                      <div class="d-flex align-items-center">
                        <button class="table-button btn me-2" (click)="onDelete(customer.id)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                          <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                          </svg>
                         </button>
                         <button *ngIf="!customer.editMode" class="table-button btn" (click)="onEdit(customer)">
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                             <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                             <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                           </svg>
                         </button>
                         <button *ngIf="customer.editMode" class="table-button btn" (click)="onSave(customer)">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
                            <path d="M11 2H9v3h2z"/>
                            <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
                          </svg>
                        </button>
                      </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <form id="input-form" class="col-5 row justify-content-center" (ngSubmit)="onSubmit()">
      <div class="col-5">
        <h3>Customer</h3>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">First Name</label>
            <input type="text" class="form-control" [appRegExValidator]="'([A-Z])([A-Za-z\\-])+'" [(ngModel)]="customer.name" #name="ngModel" name="name">
            <div *ngIf="name.hasError('invalidPattern')">
              {{ name.getError('invalidPattern') }}
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Last Name</label>
            <input type="text" class="form-control" [appRegExValidator]="'([A-Z])([A-Za-z\\-])+'" [(ngModel)]="customer.surname" #surname="ngModel" name="surname">
            <div *ngIf="surname.hasError('invalidPattern')">
              {{ surname.getError('invalidPattern') }}
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Gender</label>
            <input type="text" class="form-control" [appRegExValidator]="'([A-Z])([A-Za-z\\-])+'" #gender="ngModel" [(ngModel)]="customer.gender" name="gender">
            <div *ngIf="gender.hasError('invalidPattern')">
              {{ gender.getError('invalidPattern') }}
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Birthdate</label>
            <input type="date" class="form-control" [(ngModel)]="customer.birth_date" name="birth_date">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Phone Number</label>
            <input type="text" class="form-control" [appRegExValidator]="'(\\+)?380([0-9]){9}'" [validationType]='validationType.PhoneNumberValidation' [(ngModel)]="customer.phone_number" #phone_number="ngModel" name="phone_number">
            <div *ngIf="phone_number.hasError('invalidPattern')">
              {{ phone_number.getError('invalidPattern') }}
            </div>
          </div>
      </div>
      <div class="col-6">
        <h3>Car</h3>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">VinCode</label>
          <input type="text" class="form-control" #vin_code="ngModel" [appRegExValidator]="'[A-HJ-NPR-Za-hj-npr-z\\d]{8}[\\dX][A-HJ-NPR-Za-hj-npr-z\\d]{2}\\d{6}'" [validationType]='validationType.VinCodeValidation' [(ngModel)]="car.vin_code" name="vin_code">
          <div *ngIf="vin_code.hasError('invalidPattern')">
            {{ vin_code.getError('invalidPattern') }}
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Brand Name</label>
          <input type="text" class="form-control" #brand_name="ngModel" [appRegExValidator]="'([A-Z])([A-Za-z\\-])+'" [(ngModel)]="car.brand_name" name="brand_name">
          <div *ngIf="brand_name.hasError('invalidPattern')">
            {{ brand_name.getError('invalidPattern') }}
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Model Name</label>
          <input type="text" class="form-control" #model_name="ngModel" [appRegExValidator]="'([A-Z])([A-Za-z\\-])?'" [(ngModel)]="car.model_name" name="model_name">
          <div *ngIf="model_name.hasError('invalidPattern')">
            {{ model_name.getError('invalidPattern') }}
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Engine Volume</label>
          <input type="number" class="form-control" [(ngModel)]="car.engine_volume" name="engine_volume">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Fuel Type</label>
          <select class="form-select" [(ngModel)]="car.fuel_type" name="fuel_type">
            <option value="Gasoline" selected>Gasoline</option>
            <option value="Diesel">Diesel</option>
            <option value="Electricity">Electricity</option>
            <option value="GasolinePropane">Gasoline/Propane</option>
            <option value="Hybrid">Hybrid</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Aspiration</label>
          <select class="form-select" [(ngModel)]="car.aspiration" name="aspiration">
            <option value="NaturalAspiration" selected>Natural Aspiration</option>
            <option value="Turbocharged">Turbocharged</option>
          </select>
        </div>
      </div>
      <button  type="submit" class="submit-button btn btn-primary">Submit</button>
    </form>
</div>
